In [ ]:
import numpy as np
import pandas as pd
# Data visualisation
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
adv=pd.read_csv("advertising.csv") ## Reading the file
adv

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3   12.0
3    151.5   41.3       58.5   16.5
4    180.8   10.8       58.4   17.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

[200 rows x 4 columns]

In [ ]:
adv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   Radio      200 non-null    float64
 2   Newspaper  200 non-null    float64
 3   Sales      200 non-null    float64
dtypes: float64(4)
memory usage: 6.4 KB

In [ ]:
adv.describe()

               TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   15.130500
std     85.854236   14.846809   21.778621    5.283892
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   11.000000
50%    149.750000   22.900000   25.750000   16.000000
75%    218.825000   36.525000   45.100000   19.050000
max    296.400000   49.600000  114.000000   27.000000

In [ ]:
x=adv[['TV','Radio','Newspaper']] ## assigning values to input variable
y=adv['Sales'] ## Value assigned to output variable

In [ ]:
x

        TV  Radio  Newspaper
0    230.1   37.8       69.2
1     44.5   39.3       45.1
2     17.2   45.9       69.3
3    151.5   41.3       58.5
4    180.8   10.8       58.4
..     ...    ...        ...
195   38.2    3.7       13.8
196   94.2    4.9        8.1
197  177.0    9.3        6.4
198  283.6   42.0       66.2
199  232.1    8.6        8.7

[200 rows x 3 columns]

In [ ]:
y

0      22.1
1      10.4
2      12.0
3      16.5
4      17.9
       ...
195     7.6
196    14.0
197    14.8
198    25.5
199    18.4
Name: Sales, Length: 200, dtype: float64

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=42) ## 80 % Training , 20 % Testing ## Random pattern no is 42

In [ ]:
x_train.shape

(160, 3)

In [ ]:
x_test.shape

(40, 3)

In [ ]:
from sklearn.linear_model import LinearRegression
mlr=LinearRegression() ## Model is defined
mlr.fit(x_train,y_train) ## Model is trained

LinearRegression()

In [ ]:
print("Intercept",mlr.intercept_) # Value of b0
print("Coefficients:") ## Value of b1

list(zip(x,mlr.coef_))

Intercept 4.714126402214127
Coefficients:

[('TV', 0.05450927083721978),
 ('Radio', 0.10094536239295579),
 ('Newspaper', 0.0043366468220340446)]

In [ ]:
mlr_pred=mlr.predict(x_test) ##Prediction of model
mlr_pred

array([17.0347724 , 20.40974033, 23.72398873,  9.27278518, 21.68271879,
       12.56940161, 21.08119452,  8.69035045, 17.23701254, 16.66657475,
        8.92396497,  8.4817344 , 18.2075123 ,  8.06750728, 12.64550975,
       14.93162809,  8.12814594, 17.89876565, 11.00880637, 20.47832788,
       20.80631846, 12.59883297, 10.9051829 , 22.38854775,  9.41796094,
        7.92506736, 20.83908497, 13.81520938, 10.77080925,  7.92682509,
       15.95947357, 10.63490851, 20.80292008, 10.43434164, 21.5784752 ,
       21.18364487, 12.12821771, 22.80953262, 12.60992766,  6.46441252])

In [ ]:
Test_mlr_diff = pd.DataFrame({'Actual value':y_test, 'Predicted value': mlr_pred})
Test_mlr_diff

     Actual value  Predicted value
95           16.9        17.034772
15           22.4        20.409740
30           21.4        23.723989
158           7.3         9.272785
128          24.7        21.682719
115          12.6        12.569402
69           22.3        21.081195
170           8.4         8.690350
174          16.5        17.237013
45           16.1        16.666575
66           11.0         8.923965
182           8.7         8.481734
165          16.9        18.207512
78            5.3         8.067507
186          10.3        12.645510
177          16.7        14.931628
56            5.5         8.128146
152          16.6        17.898766
82           11.3        11.008806
68           18.9        20.478328
124          19.7        20.806318
16           12.5        12.598833
148          10.9        10.905183
93           22.2        22.388548
65           11.3         9.417961
60            8.1         7.925067
84           21.7        20.839085
67           13.4        13.815209
125          10.6        10.770809
132           5.7         7.926825
9            15.6        15.959474
18           11.3        10.634909
55           23.7        20.802920
75            8.7        10.434342
150          16.1        21.578475
104          20.7        21.183645
135          11.6        12.128218
137          20.8        22.809533
164          11.9        12.609928
76            6.9         6.464413

In [ ]:
mlr_pred_mean=Test_mlr_diff['Predicted value'].mean()
Test_mlr_diff['(mlr_pred_mean-mlr_pred)^2']=(Test_mlr_diff['Predicted value']-mlr_pred_mean )**2
Test_mlr_diff

     Actual value  Predicted value  (mlr_pred_mean-mlr_pred)^2
95           16.9        17.034772                    5.318877
15           22.4        20.409740                   32.276453
30           21.4        23.723989                   80.918757
158           7.3         9.272785                   29.764861
128          24.7        21.682719                   48.361112
115          12.6        12.569402                    4.661720
69           22.3        21.081195                   40.356685
170           8.4         8.690350                   36.459291
174          16.5        17.237013                    6.292618
45           16.1        16.666575                    3.756121
66           11.0         8.923965                   33.692666
182           8.7         8.481734                   39.022123
165          16.9        18.207512                   12.103503
78            5.3         8.067507                   44.368869
186          10.3        12.645510                    4.338862
177          16.7        14.931628                    0.041260
56            5.5         8.128146                   43.564718
152          16.6        17.898766                   10.050563
82           11.3        11.008806                   13.836146
68           18.9        20.478328                   33.060482
124          19.7        20.806318                   36.939836
16           12.5        12.598833                    4.535496
148          10.9        10.905183                   14.617780
93           22.2        22.388548                   58.676280
65           11.3         9.417961                   28.201861
60            8.1         7.925067                   46.286742
84           21.7        20.839085                   37.339207
67           13.4        13.815209                    0.834106
125          10.6        10.770809                   15.663343
132           5.7         7.926825                   46.262828
9            15.6        15.959474                    1.515288
18           11.3        10.634909                   16.757519
55           23.7        20.802920                   36.898538
75            8.7        10.434342                   18.439825
150          16.1        21.578475                   46.922114
104          20.7        21.183645                   41.668852
135          11.6        12.128218                    6.761486
137          20.8        22.809533                   65.303033
164          11.9        12.609928                    4.488363
76            6.9         6.464413                   68.295198

In [ ]:
Test_error=((Test_mlr_diff['Actual value'] - Test_mlr_diff['Predicted value'])**2).mean()
Test_error

2.90775691027109

In [ ]:
Variance= Test_mlr_diff['(mlr_pred_mean-mlr_pred)^2'].mean()
Variance

27.966334491390704

In [ ]:
mlr_train_pred=mlr.predict(x_train) ##Prediction of model
mlr_train_pred

array([11.91465765, 15.32881375,  9.91093345,  9.46132618, 17.23412363,
        7.22972412, 10.35454191, 15.23876611, 11.14036535, 11.71856758,
       13.85060866, 14.66570876, 10.44983379,  9.28550764,  9.02357336,
       12.47875166, 10.48712079, 24.99748731,  7.88523289, 15.8640533 ,
       21.30888748, 17.00814942, 12.79206695,  9.84041429, 21.01070892,
        7.48343928, 23.52204082,  7.05636619, 12.56968457, 10.08676368,
       11.1715446 ,  9.12566707, 16.92180225, 17.90167068, 15.63428805,
       18.26514616, 15.51584207, 19.23176429, 17.48701831, 21.82555114,
       10.58560762, 14.22101675, 10.75778538, 18.10690693,  9.94580615,
       17.38762989, 13.21321157, 23.7057409 , 11.04124955, 23.50498043,
        7.25377772, 19.17388849, 24.9725586 , 21.21199698, 18.85730214,
       16.49383903, 13.90044002, 11.26132856, 19.58689909, 15.32197517,
       15.91287266, 10.29394498, 20.24916557, 12.59260311, 21.37507598,
       11.62060518,  9.00761916, 19.44123849, 15.85637182, 18.5764323 ,
        9.57905955, 21.37254028, 24.69974685, 18.22258697, 18.82367855,
       14.9707016 , 16.30608241,  8.86438172, 17.37327271, 21.11096152,
       18.14037337,  5.57959415,  6.1332995 , 14.44267086, 19.48248709,
       18.97818971, 20.82881496, 23.10921728, 18.3593478 , 21.08665301,
       19.08752475, 22.06036098, 12.02892661, 17.12211276, 16.95452306,
        9.76141119, 17.39501824, 17.17068183, 19.58575617, 20.27251654,
       13.54873033, 20.13179451, 20.52616105,  9.70144596, 11.67058309,
       10.10407832, 13.29497496, 18.09509227,  6.56761894, 13.08901378,
       21.39081315, 17.28833116, 15.74733631,  5.39922804, 10.82718892,
       19.21744877, 15.99621659, 19.64920239, 24.29245646,  9.5898691 ,
       24.92524356, 10.90649352, 16.59569044, 25.04301452, 13.33663908,
       22.00989097,  9.7726583 , 16.06805732, 10.37865883, 21.37506225,
       18.90996814, 12.41971163, 18.27135985, 14.14842839, 16.07722174,
        6.20259989,  9.36113277, 13.9708546 , 13.11622466, 18.06158993,
       11.30252447, 20.89108544,  9.84441608,  8.78744807, 12.36888392,
       16.7703046 , 16.49225352, 13.85635374, 15.12076048, 18.88647079,
        8.14798206, 18.27158711, 19.64671463, 21.72296399, 12.28023473,
        7.31605557, 19.36005676, 20.21832647, 14.82664026, 21.09997649])

In [ ]:
Test_mlr_train_diff = pd.DataFrame({'Actual value':y_train, 'Predicted value': mlr_train_pred})
Test_mlr_train_diff

     Actual value  Predicted value
79           11.0        11.914658
197          14.8        15.328814
38           10.1         9.910933
24            9.7         9.461326
122          16.6        17.234124
..            ...              ...
106           7.2         7.316056
14           19.0        19.360057
92           19.4        20.218326
179          17.6        14.826640
102          19.8        21.099976

[160 rows x 2 columns]

In [ ]:
mlr_pred_train_mean=Test_mlr_train_diff['Predicted value'].mean()
mlr_pred_train_mean

15.330624999999984

In [ ]:
Test_mlr_train_diff['mlr_pred_train_mean-actual value']=abs(mlr_pred_train_mean-Test_mlr_train_diff['Actual value'])
Test_mlr_train_diff

     Actual value  Predicted value  mlr_pred_train_mean-actual value
79           11.0        11.914658                          4.330625
197          14.8        15.328814                          0.530625
38           10.1         9.910933                          5.230625
24            9.7         9.461326                          5.630625
122          16.6        17.234124                          1.269375
..            ...              ...                               ...
106           7.2         7.316056                          8.130625
14           19.0        19.360057                          3.669375
92           19.4        20.218326                          4.069375
179          17.6        14.826640                          2.269375
102          19.8        21.099976                          4.469375

[160 rows x 3 columns]

In [ ]:
Train_error= ((Test_mlr_train_diff['Actual value'] - Test_mlr_train_diff['Predicted value'])**2).mean()
Train_error

2.676142653782669

In [ ]:
bias=Test_mlr_train_diff['mlr_pred_train_mean-actual value'].mean()
bias

4.290828125000003